{% extends 'base.html' %}
    {% load bootstrap4 %}


        {% block content-table %}
             
             <h5>Ciudad</h5>

                  <a href="{% url 'ciudad' %}"> <i class="btn btn-success btn-lg">Agregar</i> </a>

             <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>

                    {% for i in datos  %}
                    <tr>
                        <td> {{ i.id }} </td>
                        <td> {{ i.nombre }} </td>
                        <td> <a href="{% url 'ciudadupdate' %}?id={{ i.id }}"> <i class="btn btn-warning">Editar</i> </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'ciudaddelete' %}?id={{ i.id }}">
                          <i class="btn btn-danger">Eliminar</i></a> </td>

                    </tr>
                    {% endfor %}

                </tbody>
             </table>

        {% endblock %}



    {% block javacript %}

{% endblock %}
