{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content-table %}

     <h5>Evaluacion</h5>


     <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nota final</th>
                <th>Tipo de Evaluacion</th>
                <th>Modulo</th>
                <th>Ponderacion</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>

            {% for i in datos  %}
            <tr>
                <td> {{ i.id }} </td>
                <td> {{ i.nota_final }} </td>
                <td> {{ i.tipo_evaluacion }} </td>
                <td> {{ i.modulo }} </td>
                <td> {{ i.ponderacion }} </td>
                <td> {{ i.fecha }} </td>
            </tr>
            {% endfor %}

        </tbody>
     </table>

{% endblock %}


{% block content-form %}

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <h1>Se ha eliminado el dato correctamente!</h1>

    </form>

{% endblock %}



{% block javacript %}

{% endblock %}