{% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PES Pro Evaluation Software</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">


    {% block css %}

    {% endblock%}

  </head>

  <body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand"  href="{% url 'index' %}">Index</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usuariolist' %}">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tipo_usuariolist' %}">Tipo de Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'carreralist' %}">Carreras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'facultadlist' %}">Facultades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'universidadlist' %}">Universidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ciudadlist' %}">Ciudades</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'modulolist' %}">Modulos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tipo_evaluacionlist' %}">Tipo de Evaluacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'evaluacionlist' %}">Evaluacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'itemlist' %}">Item</a>
        </li>
      </ul>
    </div>
  </nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pro Evaluation Software</h1>
    <p class="lead">PES, es una herramienta que permitirá a los profesores registrar las evaluaciones de sus alumnos de una forma óptima, 
      también permitirá acceso de ayudantes, que tienen la tarea de registrar evaluaciones de alumnos, y por último también permitirá el acceso de alumnos
      para que puedan ver el estado de sus evaluaciones.</p>
      <div align="center">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-25" src="{% static 'img/calor.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-25" src="{% static 'img/calor.jpg' %}" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-25" src="{% static 'img/calor.jpg' %}" alt="Third slide">
        </div>
      </div>
      <a style="left:350px;" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a style="right:350px;" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
    </div>
  </div>
</div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
   <!-- <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>-->
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <!-- Demo scripts for this page-->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
 </nav>


  {% block javascript %}{% endblock %}


  </body>

</html>
